* {
    outline:none;
}

hr.clear {
    clear: both;
    visibility: hidden;
}

/*Body*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    font-family: Arial;
}

.page {
    flex: 1 0 auto;
}

/*Menu*/
.menu{
    background-color: #cee1f7;
    border-bottom: 4px solid #a0aebf;
    height: 75px;
    line-height: 75px;
}
@media screen and (max-width: 1000px) {
    .menu{
        height: 150px;
    }
}
.menu .title{
    float: left;
    font-size: 40px;
    color: #ffffff;
    text-shadow: 2px 2px #333;
    margin-left: 15px;
}

.menu .content{
    float: right;
}

.menu ul{
    list-style: none; /*remove puce*/
    margin: 0;
}

.menu ul li {
    display: inline; /*show in line*/
    position: relative;
}
.menu ul li a {
    margin: 0 15px;
    color: #333333;
    text-decoration: none;
    font-weight: bold;
}

.menu ul li a i {
    transition: all 0.6s;
}

.menu ul li:hover > a > i {
    transform: rotate(180deg);
}

.menu .submenu {
    display: none;
}

.menu li:hover .submenu {
    display: grid;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    z-index: 100000;
    width: 200px;
}

.menu .submenu li:first-child {
    margin-top: 33.5px;
}

.menu .submenu li {
    background: #a0aebf;
    color: #ffffff;
    border: 2px solid #454d59;
    border-top: none;
}

/*Title*/
.title {
    text-align: center;
}

/*Backgrounds*/
#login .background, #register .background {
    background-image: url("img/background.jpg");
}

/*Home*/
#home .row {
    display: flex;
    text-align: center;
}
#home .row .col {
    position: relative;
}
#home .row .col .content {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translateY(-50%) translateX(-50%);
}
#home .row .col .content h1 {
    text-shadow: 2px 2px #333;
    color: #fff;
}

#home .row > .col {
    width: 50%;
}

#home .row > .col > img {
    width: 100%;
    height: 100%;
}

#home .r1 > .col:nth-child(2) {
    background-color: #aeccf7;
}

#home .r2 > .col:nth-child(1) {
    background-color: #aeccf7;
}

#home .r3 > .btn {
    text-decoration: none;
    color: #ffffff;
    line-height: 100px;
    font-size: 30px;
    text-shadow: 2px 1px #868187;
    border-top: 3px solid #666666;
    border-bottom: 3px solid #666666;
}

#home .r3 > .btn:nth-child(1){
    background-color: #858585;
}

#home .r3 > .btn:nth-child(2){
    background-color: #9c9c9c;
}

#home .r4 > .col:nth-child(1){
    background-color: #aeccf7;
}

/*Register/Login/AddAlbum/Albums/Album/AddPicture/ShareAlbum/NoAccess*/
#register, #login, #addAlbum, #albums, #addPicture, #shareAlbum, #albumsShared, #noAccess {
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: calc(100vh - 79px - 55px);
    margin: 0;
}

#login .content, #register .content, #addAlbum .content, #albums .content, #addPicture .content, #shareAlbum .content, #albumsShared .content, #noAccess .content {
    position: absolute;
    background: #ffffff;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}

input, select, textarea{
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid #aeaeae;
}

input[type=submit], button {
    background: #eaeaea;
    border: none;
    cursor: pointer;
    margin: 10px;
    padding: 10px 20px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}

/*Albums/AlbumsShared*/

#albums .link a, #albumsShared .link a {
    text-decoration: none;
    font-size: 25px;
    color: #333333;
}

#albums .link, #albumsShared .link {
    margin: 10px 0;
}

#albums .link i, #albumsShared .link i {
    margin-right: 10px;
}

/*Album*/
#album {
    text-align: center;
}

#album .title {
    position: relative;
}

#album .title .add_picture {
    position: absolute;
    top:0;
    left:20px;
}

#album .title .share_album {
    position: absolute;
    top: 0;
    right: 20px;
}

#album i {
    margin-right: 10px;
}

#album button {
    background: #4e9cff;
    color: #ffffff;
}

#album .form_folder {
    display: none;
}


#album .folder button {
    background: #4e9cff;
    color: #ffffff;    background: #0f3eff;
    color: #ffffff;
}

/*Pictures*/
#album .picture {
    display: inline-block;
    background-position: center;
    background-size: cover;
    width: 33%;
    height: 400px;
    transition: all 0.4s;
}

#album .picture:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.4s;
    opacity: 0.8;
}

#album .picture:hover div {
    transition: all 0.4s;
    opacity: 1!important;
}

@media screen and (max-width: 900px) {
    #album .picture {
        width: 100%;
    }
}

#album .lightbox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 70%;
    z-index: 99999;
}

#album .lightbox img {
    width: 100%;
}

#album .background-lightbox {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 99998;
}

#album .background-lightbox i {
    color: #ffffff;
    cursor: pointer;
    position: fixed;
}

#album .background-lightbox i.close_lightbox {
    top: 5px;
    right: 5px;
}

#album .background-lightbox i.prev_picture {
    top: 50%;
    left: 50px;
}

#album .background-lightbox i.next_picture {
    top: 50%;
    right: 50px;
}

/*Notification/UsersShared*/
#notification h1, #usersShared h1 {
    text-align: center;
}

#notification .notif, #usersShared .user {
    padding: 20px;
    border: 1px solid #454d59;
    text-align: center;
}

/*Footer*/
.footer {
    border-top: 5px solid #333;
    background: #626262;
    text-align: center;
    height: 50px;
}
.footer h6 {
    color: #ffffff;
    margin: 18px 0 0 0;
    font-size: 14px;
}